# === Base de datos ===
DB_HOST=db
DB_PORT=3306
DB_NAME=ticketpass
DB_USER=ticketpass
DB_PASSWORD=ticketpass

# === JWT ===
JWT_SECRET=cambia_esto_por_algo_largo_y_aleatorio
JWT_EXPIRES_IN=7d

# === App ===
NODE_ENV=production